/* Write your code here. */
* {
  margin: 0;
  box-sizing: border-box;
}

.share-button-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 30px;
  color: #ffffff;
  font-family: Bree serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.like-btn {
  margin-right: 10px;
  padding: 5px;
  height: 35px;
  width: 75px;
  color: #fff;
  background-color: #eab308;
  border-radius: 20px;
  border: 0;
  outline: none;
}
.comment-btn {
  margin-left: 15px;
  padding: 5px;
  height: 35px;
  width: 75px;
  color: #323f4b;
  background-color: #fff;
  border-radius: 20px;
  border: 0;
  outline: none;
}
.share-btn {
  margin-left: 15px;
  padding: 5px;
  height: 35px;
  width: 75px;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 20px;
  border: 0;
  outline: none;
}
